/* Heading
----------------------------------------------------------- */
.ba-cheetah-settings-heading{
	margin-top: 15px;
}

.ba-cheetah-settings-heading img {
	height: 40px;
	margin-right: 5px;
	vertical-align: middle;
}
.ba-cheetah-settings-heading span {
	vertical-align: middle;
	font-weight: 300;
	font-size: 27px;
	color: #2C3338;
}

/* Nav
----------------------------------------------------------- */

.ba-cheetah-settings-nav {
	float: left;
	margin: 15px 2% 0 0;
	width: 19%;
}
.ba-cheetah-settings-nav ul {
	background: #fff;
	border: 1px solid #e5e5e5;
}
.ba-cheetah-settings-nav ul li {
	display: block;
	margin: 0;
}
.ba-cheetah-settings-nav ul li.ba-cheetah-settings-nav-heading {
	background: #f5f5f5;
	border-bottom: 1px solid #d5d5d5;
	display: block;
	padding: 5px 10px;
}
.ba-cheetah-settings-nav ul li a {
	border-bottom: 1px solid #eee;
	display: block;
	padding: 10px;
}
.ba-cheetah-settings-nav ul li a:hover,
.ba-cheetah-settings-nav ul li a.ba-cheetah-active {
	background: #f5f5f5;
}
.ba-cheetah-settings-nav ul li:last-child a {
	border-bottom: none;
}
.ba-cheetah-settings-nav a {
	text-decoration: none;
}
.ba-cheetah-settings-nav .ba-cheetah-settings-save {
	padding: 0 2px;
}
.ba-cheetah-settings-nav .button-primary {
	width: 100%;
}

/* Content
----------------------------------------------------------- */

.ba-cheetah-settings-content {
	float: left;
	margin-top: 15px;
	width: 78%;
}
.ba-cheetah-settings-form-content h4 {
	font-size: 14px;
	margin: 30px 0 5px;
}

/* Settings Forms
----------------------------------------------------------- */

.ba-cheetah-settings-form {
	max-width: 450px;
}
.ba-cheetah-settings-form-header {
	margin-bottom: 20px !important;
	padding-left: 50px !important;
}
.ba-cheetah-settings-form .form-table {
	margin: 12px 0;
}
.ba-cheetah-settings-form th {
	font-weight: bold;
	vertical-align: middle;
}
.ba-cheetah-settings-form th,
.ba-cheetah-settings-form td {
	font-size: 13px;
	font-weight: normal;
	padding: 5px;
}

.ba-cheetah-settings-network-admin .ba-cheetah-settings-form-content,
.ba-cheetah-settings-single-install .ba-cheetah-settings-form-content {
	display: block;
}

/* Multi-Select
----------------------------------------------------------- */

body .ms-options-wrap > button,
body .ms-options-wrap > button:focus {
	border: 1px solid #ccc;
    border-radius: 3px;
	padding-left: 10px;
}
body .ms-options-wrap > button:after {
	border: 5px solid rgba(0, 0, 0, 0);
    border-top-color: #ccc;
}
body .ms-options-wrap > .ms-options {
	border: 1px solid #ccc;
	border-top: none;
	margin-top: -2px;
	padding: 5px;
}
body .ms-options-wrap > .ms-options .ms-selectall {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	text-transform: none;
}
body .ms-options-wrap > .ms-options li {
	margin-bottom: 0;
}
body .ms-options-wrap > .ms-options > ul label {
	border: none !important;
	padding: 8px !important;
}
body .ms-options-wrap > .ms-options > ul label.focused,
body .ms-options-wrap > .ms-options > ul li.selected label {
	background: none;
}
body .ms-options-wrap > .ms-options > ul input[type="checkbox"] {
	margin: -4px 8px 0 0;
	position: static;
}

/* TipTip
------------------------------------------------------*/

#tiptip_arrow_inner {
	border-bottom-color: #333 !important;
}
#tiptip_content {
	background: #333 !important;
	box-shadow: none !important;
}

/* Welcome Page
----------------------------------------------------------- */

#ba-cheetah-welcome-form, #ba-cheetah-supercharge-form, #ba-cheetah-account-form, #ba-cheetah-general-form {
	max-width: none;
}
#ba-cheetah-general-form .ba-cheetah-settings-form-header,
#ba-cheetah-pro-form .ba-cheetah-settings-form-header,
#ba-cheetah-post-types-form .ba-cheetah-settings-form-header,
#ba-cheetah-integrations-form .ba-cheetah-settings-form-header,
#ba-cheetah-tools-form .ba-cheetah-settings-form-header{
	padding: 0px !important;
}

#ba-cheetah-general-form  .ba-cheetah-welcome-page-content{
	padding: 0px !important;

}



.ba-cheetah-welcome-page-content {
	padding: 0px 50px;
}
.ba-cheetah-upgrade-page-content ul,
.ba-cheetah-welcome-page-content ul {
	list-style-type: disc;
	margin: 15px 0 20px 35px;
}
.ba-cheetah-welcome-page-content hr {
	clear: both;
	margin: 20px 0 5px;
}
.ba-cheetah-welcome-page-content .ba-cheetah-welcome-col-wrap {
	clear:both;
}
.ba-cheetah-welcome-page-content .ba-cheetah-welcome-col {
	box-sizing: border-box;
	display: inline-block;
	width: 49.7%;
	vertical-align: text-top;
}
.ba-cheetah-welcome-page-content .ba-cheetah-welcome-col:first-child {
	padding-right: 30px;
}
.ba-cheetah-welcome-page-content .ba-cheetah-welcome-col:last-child {
	padding-left: 30px;
}
.ba-cheetah-welcome-page-content .ba-cheetah-welcome-big-link {
	font-weight: 600;
	font-size: 14px;
}
.ba-cheetah-welcome-page-content .ba-cheetah-welcome-img {
	max-width: 100%;
	display: inline-block;
}

.curl-alert {
	padding: 16px 25px 16px 20px;
	background-color: #fde8e8;
	border-left: 5px solid #e7aaaa;
	margin-bottom: 2em;
}
.curl-alert p {
	font-size: 1rem;
	color: #333;
}


/* Templates
----------------------------------------------------------- */

.ba-cheetah-templates-override-nodes {
	display: none;
}

/* Icons
----------------------------------------------------------- */

.ba-cheetah-delete-icon-set {
	color: #d34e2a;
}

/* User Access
----------------------------------------------------------- */

#ba-cheetah-user-access-form {
	max-width: none;
}
.ba-cheetah-user-access-group {
    background: #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 30px;
    margin-top: 10px;
}
.ba-cheetah-user-access-group h3 {
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    padding: 15px;
}
.ba-cheetah-user-access-setting {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 15px;
	width: 50%;
}
.ba-cheetah-user-access-setting h4 {
    margin-top: 0;
}
.ba-cheetah-user-access-setting h4 i {
    color: #555;
    cursor: help;
    font-size: 18px;
    position: relative;
}
.ba-cheetah-ua-override-ms-label {
    display: inline-block;
    margin: 7px 0 14px;
}

/* Cheetah Pro
----------------------------------------------------------- */

#pro-form input[type=text], #pro-form input[type=text]::placeholder {
	height: 50px;
	width: 100%;
	font-size: 18px;
	color: rgb(164, 162, 162);
	border-color: rgb(146, 143, 143);
	text-align: center;
}

/* Media Query - Max Width 900px
----------------------------------------------------------- */

@media (max-width: 900px) {

	/* Nav
	----------------------------------------------------------- */

	.ba-cheetah-settings-nav {
		float: none;
		margin: 15px 0 0 0;
		width: 100%;
	}

	/* Content
	----------------------------------------------------------- */

	.ba-cheetah-settings-content {
		float: none;
		margin-top: 15px;
		width: 100%;
	}
	.ba-cheetah-settings-content .ba-cheetah-settings-save {
		float: none;
		width: 100%;
	}
	.ba-cheetah-settings-content .ba-cheetah-settings-save .button-primary {
		width: 100%;
	}

	/* User Access
	----------------------------------------------------------- */

	.ba-cheetah-user-access-setting {
		float: none;
		width: 100%;
	}
}

/* Media Query - Max Width 782px
----------------------------------------------------------- */

@media (max-width: 782px) {

	/* Settings Forms
	----------------------------------------------------------- */

	.ba-cheetah-settings-form th,
	.ba-cheetah-settings-form td {
		padding: 5px 17px;
	}
}

.subscription-form {
  background: #0a3c4b;
  color: #fefefe;
  padding: 25px;
  border-radius: 0;
}

.subscription-form .input-group-field {
  border-radius: 4px;
	height: 35px;
	display: flex;
	margin: 10px 0;
	width: 95%;
	border: 1px solid #e6e6e6;
}

.subscription-form .subscribe-button {
  display: inline-block;
  vertical-align: middle;
  margin: 20px 0 0;
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
  color: #fff;
	background-color: #0F637D;
	height: 45px;
	font-size: 20px;
	border-color: #0F637D;
	box-shadow: none;
	border-radius: 4px;
}

.subscription-form .input-group span.error {
	display: none;
}

.subscription-form .dashicons {
	vertical-align: middle;
	margin: 10px;
	position: relative;
	top: 8px;
}

.subscription-form .dashicons {
	color: #0a3c4b;
}

.subscription-form .subscribe-button:focus {
	box-shadow: none;
	outline: none;
}

.subscription-form .subscribe-button:hover {
	background-color: #0F637D;
}
.subscription-form h4 {
	margin: 0 0 5px;
}
.subscription-form h2 {
	color: #fff;
}

.dashicons.spin {
   animation: dashicons-spin 1s infinite;
   animation-timing-function: linear;
}

@keyframes dashicons-spin {
   0% {
      transform: rotate( 0deg );
   }
   100% {
      transform: rotate( 360deg );
   }
}

.ba-cheetah-admin-form-section fieldset {
	display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 15px 0;
    gap: 5px;
}

#integrations-form hr {
	margin: 25px 0;
}
#account-form{
	margin-top: 25px;
}
.supercharge-panel{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.ba-mg-t-1{
	margin-top: 1rem;
}
.ba-w-70{
	max-width: 70%;
}
.ba-jc-center{
	display: flex;
	justify-content: center;
}
.ba-ai-center{
	display: flex;
	align-items: center;
}

.ba-text-ai-center{
	text-align: center;
}
.ba-text-width{
	max-width: 77%;
}

#supercharge-form, #account-form{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.supercharge-buttons {
	display: flex;
	gap: 1rem;
}

.supercharge-buttons a {
	padding: 1rem 3rem 1rem 3rem;
	border: none;
	border-radius: 8px;
	color: white;
	text-decoration: none;
	min-width: 170px;
	text-align: center;
}

.supercharge-buttons a:first-child {
	background-color: #9851C2 !important;
}

.supercharge-buttons a:last-child {
	background-color: #0072E1 !important;
}

.supercharge-buttons .unlink {
	background-color: #9851C2 !important;
}

.ba-tooltip {
	position: relative;
	cursor: pointer;
  }
  
  .ba-tooltip-text {
	visibility: hidden;
	background-color: #333;
	color: #fff;
	padding: 6px 10px;
	border-radius: 4px;
	position: absolute;
	z-index: 999;
	top: 120%;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	opacity: 0;
	transition: opacity 0.2s ease;
  }
  
  .ba-tooltip:hover .ba-tooltip-text {
	visibility: visible;
	opacity: 1;
  }
  
  .ba-switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 18px;
  }

  .ba-switch input[type=checkbox]:checked::before{
	content: none !important;
  }
  
  .ba-switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .ba-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 24px;
  }
  
  .ba-slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
  }
  
  .ba-switch input:checked + .ba-slider {
	background-color: #20E4B3;
  }
  
  .ba-switch input:checked + .ba-slider:before {
	transform: translateX(12px);
  }

  .ba-switch-box{
	background-color: white;
	border-radius: 16px;
	padding: 10px 10px 10px 10px ;
	width: max-content;
  }
  
.supercharge-status{
	color: #4D5D71 !important;
	font-weight: 600;
}
.ba-font-syne{
	font-family: syne !important;
}
.ba-font-21{
	font-size: 21px !important;
}
.ba-font-29{
	font-size: 29px !important;
}
.ba-font-bold{
	font-weight: 600 !important;
}
.ba-font-extrabold{
	font-weight: 700 !important;

}
.supercharge-account-panel{
	width: 80%;
	max-width: 1450px;
	text-align: center;
	line-height: 150%;
}

.ba-cheetah--supercharge-bundle-panel {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 70%;
	gap: 30px;
	align-items: center;
  }
  
  .ba-cheetah--supercharge-bundle-panel .supercharge-title {
	display: flex;
	align-items: start;
	padding: 15px 0;
	width: 100%;
	border-bottom: 1px solid rgba(198, 212, 232, 1);
  }
  
  .ba-cheetah--supercharge-bundle-panel .supercharge-title h2 {
	font-weight: 700;
	color: #0072E1;
	font-size: 16px;
	margin-left: 35px;
  }
  
  .ba-cheetah--supercharge-bundle-panel .supercharge-card-content:nth-child(1) {
	background: linear-gradient(90deg, rgba(89, 186, 255, 0.38) 0%, #FFFFFF 100%);
  }
  
  .ba-cheetah--supercharge-bundle-panel .supercharge-card-content:nth-child(2) {
	background: linear-gradient(90deg, #C9C4DA 0%, #FFFFFF 100%);
  }
  
  .ba-cheetah--supercharge-bundle-panel .supercharge-card-content:nth-child(3) {
	background: linear-gradient(90deg, rgba(254, 85, 48, 0.5) 0%, #FFFFFF 100%);
  }
  
  .ba-cheetah--supercharge-bundle-panel .supercharge-card-content:last-child {
	background: linear-gradient(90deg, rgba(1, 253, 194, 0.36) 0%, #FFFFFF 100%);
  }
  
  .ba-cheetah--supercharge-bundle-panel .supercharge-card-content {
	width: 320px;
	border: 1px solid #BED1EA;
	border-radius: 16px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 20px;
  }
  
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-top {
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	border-radius: 15px 15px 0 0;
  }
  
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-top .accordion-toggle {
	background-color: transparent;
	margin-right: 10px;
	cursor: pointer;
	border: none;
	padding: 0;
	outline: none;
	color: rgba(0, 114, 225, 1);
  }
  
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-top span {
	margin-left: 1rem;
	font-size: 14px;
	color: rgb(0, 114, 225);
	font-weight: 700;
  }
  
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-card-content {
	display: flex;
	gap: 1rem;
	margin-top: 18px;
	justify-content: space-around;
  }
  
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-card-content .icon {
	height: 30px;
	width: 30px;
	box-sizing: border-box;
  }
  
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-card-content .tool-card-description {
	max-width: 52%;
	font-weight: 700;
  }
  
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-card-footer {
	margin-top: 2rem;
	padding-bottom: 1rem;
  }
  
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-card-footer a,
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-card-footer button {
	background-color: rgba(0, 114, 225, 1);
	border-radius: 6px;
	text-decoration: none;
	padding: 10px 12px;
	border: none;
	width: 33%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1rem;
	gap: 10px;
  }
  
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-card-footer a span,
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-card-footer button span {
	font-weight: 700;
	color: white;
  }
  
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-card-footer a:hover,
  .ba-cheetah--supercharge-bundle-panel .tool-card .tool-card-footer button:hover {
	cursor: pointer;
  }
  

.toplevel_page_ba-cheetah-settings .wp-submenu-wrap li:last-child{
	display: none !important;
}